.searchBar {
  width: 65%;
}
.inputGroup {
  width: 40%;
  height: 20%;
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.searchButton {
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.mainDisplay {
  width: 50%;
  margin: 0 auto;
}

.searchResults {

  
}